@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

:root {
    --background-color: #E63462;
    --text-color: #483D3F;
    --highlight-color-one: #708B75;
    --highlight-color-two: #EF6351;
    --highlight-color-three: #EDDDD4;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Hero Section */
.hero-section {
    background: url('../images/catkeyboard.webp');
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.bg-light {
    background-color: red;
}

.hero-section h1 {
    font-weight: 700;
    font-family: "Rubik Burned", system-ui;
}

h2, h3, h4, h5 {
    font-family: "Rubik Burned", system-ui;
}

.hero-section .lead {
    font-size: 1.5rem;
}

.work-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 0;
}

.work-card {
    font-family: "Rock 3D", system-ui;
    border-radius: 0px;
    border: none;
}

.btn {
    background-color: var(--highlight-color-two);
    border: none;
}


h2 {
    font-weight: 700;
    color: var(--text-color);
}

.modal-body img {
    width: 100%;
}
