@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap'); 

/* RESET */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

:root {
    --stripe-bg: repeating-linear-gradient(
        90deg,
        rgba(104, 119, 141, 0.85) 0px,
        rgba(104, 119, 141, 0.85) 28px,
        rgba(150, 160, 175, 0.85) 28px,
        rgba(150, 160, 175, 0.85) 56px
    );
}

/* HERO BACKGROUND */
.hero {
    position: relative;
    /* overflow: hidden; */
    background-image: url('../images/grad.JPG');
    height: 100vh;
    background-size: cover;
    /* background: url('../images/image.png') center/cover no-repeat; */
}


/* DARK LEFT SIDE */
.hero::before {
    content: "";
    position: absolute;
    left: 10;
    top: 0;
    width: 55%;
    height: 100%;
    background: rgba(0,0,0,0.35);
}

/* STRIPED RIGHT SIDE */
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    /* background: var(--stripe-bg);
    background-size: 56px 100%;
    background-position: left top; */

    background:
    /* STRIPES (top layer) */
        repeating-linear-gradient(
            to right,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0.15) 18px,
            rgba(255, 255, 255, 0.05) 18px,
            rgba(255, 255, 255, 0.05) 36px
        ),

        /* DARK BLUE BASE (underneath) */
        rgba(20, 40, 70, 0.6);
}

/* TEXT */
.name {
    position: absolute;
    color: white;
    z-index: 2;
    font-family: "chango", sans-serif;
}

.first {
    top: 25%;
    left: 9%;
    font-size: 100px;
}

.last {
    top: 45%;
    right: 9%;
    font-size: 100px;
}

.initials {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    letter-spacing: 5px;
    z-index: 2;
    font-size: 20px;
}

html { 
    scroll-behavior: smooth; 
}

/* NAV BUTTONS */
.nav {
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.nav a {
    display: inline-block;
    margin: 25px;
    padding: 12px 30px;
    background: #9c5a6b;
    color: white;
    text-decoration: none;
    border: 2px solid #e6c5cc;
    font-size: 14px;
    letter-spacing: 1px;
}

.nav a:hover {
    background: #7e4554;
    hover {
        background: #742d40;
    }
}

/* TITLE */
.section-title {
    text-align: center;
    font-size: 70px;
    letter-spacing: 4px;
    color: #4a3a3a;
    margin-bottom: 70px;
    font-weight: 800;
}

.footer {
    background: linear-gradient(
        to right,
         rgba(20, 40, 70, 0.6)
    ); 
    color: white;
    padding: 60px 80px;
    font-family: 'Montserrat', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LEFT SIDE */
.footer-left h2 {
    font-size: 36px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #f4f0ec;
}

.footer-columns {
    display: flex;
    gap: 80px;
}

.footer-columns h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.footer-columns p {
    font-size: 18px;
    opacity: 0.9;
}

/* RIGHT SIDE */
.footer-right h1 {
    font-size: 80px;
    font-weight: 500;
}

/* ABOUT ME SECTION */

/* PAGE LAYOUT */
.about-section {
    display: flex;
    align-items: stretch;
    width: 100%;
    /* min-height: 100vh; */
    margin-bottom: 120px;
    font-family: 'Chonburi', serif;
}

/* LEFT SIDE */
.about-left {
    /* width: 60%; */
    background: #f4f0ec;
    flex: 1;
    display: flex;
    padding: 60px;
    /* align-items: center;
    justify-content: center;
    position: relative; */
}

/* BORDER BOX */
.about-box {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 80px;
    width: 100%;
    /* height: fit-content; */
}

/* SCRIPT TEXT */
.handwritten {
    font-family: 'Dancing Script', cursive;
    color: #a05c70;
    font-size: 32px;
    margin-bottom: 20px;
    transform: rotate(-5deg);
}

/* MAIN TITLE */
.about-box h1 {
    font-size: 64px;
    color: #3e3533;
    margin-bottom: 30px;
    line-height: 1.1;
}

/* DESCRIPTION */
.description {
    font-size: 18px;
    color: #5a4f4d;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* RIGHT SIDE */
.about-right {
    background: var(--stripe-bg);
    backround-size: 56px 100%;
    background-position: left top; 
    flex: 1;
    display: flex; 
    /* width: 35%;
    position: relative;
    top: 0;
    right: 0;
    width: 49%;
    height: 100%; */
    justify-content: center;
    align-items: center; 

    background:
        repeating-linear-gradient(
            90deg,
            rgba(60, 80, 110, 0.4),
            rgba(60, 80, 110, 0.4) 20px,
            rgba(60, 80, 110, 0.15) 20px,
            rgba(60, 80, 110, 0.15) 40px
        );
        /* rgba(40, 60, 90, 0.5); */

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* IMAGE */
.about-right img {
    width: 70%;
    max-width: 500px;
    border-radius: 8px;
    /* z-index: 2; */
}

/* PAGE */
body {
    margin: 0;
    background: #f4f0ec;
    font-family: "Montserrat", sans-serif;
}

/* SECTION */
.writing-section {
    width: 90%;
    margin: auto;
    padding: 60px 0;
}

/* TITLE */
.page-title {
    text-align: center;
    font-size: 90px;
    font-style: italic;
    margin-bottom: 70px;
    color: #2e2323;
}

/* GRID */
.projects-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* CARD */
.project-card {
    width: 380px;
    background: white;
    border: 1px solid #999;
    padding: 20px;
    text-align: center;
}

/* SQUARE IMAGE BOX */
.image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin-bottom: 25px;
}

/* IMAGE */
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* TEXT */
.project-card h2 {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.project-card p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.project-card a {
    color: #5d2ca3;
    font-size: 18px;
    text-decoration: underline;
}


/* BUTTON */
.project-card a {
    display: inline-block;
    padding: 12px 30px;
    background: #a05c70;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    border: 2px solid #d9b7c2;
    transition: 0.3s, ease;
}

.project-card a:hover {
    background: #8a4d5f;
    transform: translateY(-2px);
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

    .hero {
        height: 100vh;
        background-position: center;
    }

    .initials {
        font-size: 28px;
        top: 25px;
        left: 25px;
    }

    .name {
        font-size: 55px;
        text-align: center;
        width: 100%;
        left: 0;
    }

    .first {
        top: 90px;
    }

    .last {
        top: 150px;
    }

    .nav {
        flex-direction: column;
        gap: 18px;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

    .nav a {
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding: 18px 0;
    }

    .about-section {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .section-title {
        font-size: 42px;
        margin-top: 40px;
    }

    .about-left {
        width: 100%;
        padding: 25px;
    }

    .about-box {
        padding: 35px 25px;
    }

    .handwritten {
        font-size: 28px;
    }

    .about-box h1 {
        font-size: 48px;
        line-height: 1;
    }

    .description {
        font-size: 18px;
        line-height: 1.5;
    }

    .about-right {
        width: 100%;
        padding: 40px 20px;
    }

    .about-right img {
        width: 85%;
    }

    .page-title {
        font-size: 55px;
        margin: 50px 0;
    }

    .projects-grid {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .project-card {
        width: 85%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .footer-columns {
        flex-direction: column;
        gap: 25px;
    }

    .footer-right h1 {
        font-size: 60px;
    }
}