@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

/* HERO SECTION */
.hero {
    position: relative;
    height: 100vh;
    background: url('../images/image.png') center/cover no-repeat;
}